@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Oswald&display=swap');

:root {
    --main-color: #E2DFD9;
    --secondary-color: #000000;
    --main-font: 'Allerta Stencil', sans-serif;
    --secondary-font:  'Oswald', sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--main-font);
   
    
   
}

body {
    background: var(--main-color);
    
}

@media (min-width: 429px) {
    section.navboxes { display: none;}
}

#shapes {
    position: absolute;
    top: 9rem;
 
}

.line-top {
    height: 2px;
    width: 26.9rem;;
    background: var(--secondary-color);
    position: relative;
    top: 8.8rem;

}

.line-bottom {
    height: 2px;
    width: 100%;
    background: var(--secondary-color);
    position: relative;
    top: 25.3rem;
}

#name {
    position: relative;
    top: 23rem;
    left: 3rem;
    width:fit-content;
    padding: 9px;
    
    border-radius: 10px;
    font-family: var(--secondary-font);
    border: 2px solid var(--secondary-color);
    background-color:  var(--main-color);

    letter-spacing: 4px;
    font-size: 2.3rem;
    
}


#role {
    position: relative;
    top: 23.5rem;
    left: 3.8rem;
    font-family: var(--secondary-font);
    font-size: 1.8rem;
    letter-spacing: 4px;   
    width: fit-content;

}



#welcome-txt {
    top: 27rem;
    left: 1.7rem;
    position: relative;
    font-family: var(--secondary-font);
    font-size: 1.4rem;
    width: 87%;
    word-spacing:5px;
    line-height: 3rem;

  
}

.container-menu {
    position: relative;
    bottom: 4rem;
}


#menu {
    font-family: var(--secondary-font);
    font-size: 3rem;
    position: relative;
    top: 34rem;
    left: 10rem;
    letter-spacing: 8px;
    width: fit-content;
    
}

nav {
    display: flex;
    justify-content: center;
}
.navboxes {
    position: relative;

    

   
}
.nav-box {
    height: 50vh;
    width: 90vw;
     
    border-radius: 11px;
    filter:blur(4px);
    -webkit-filter: blur(4px);
    
    
    
}

.box1 {
    background: #f33d3dea;
    position: relative;
    bottom: 12.3rem;
   
    

}

.box2 {
    background: #141010e7;
    position: relative;
    bottom: 11.9rem;
  
}

.nav-texts {
    position: relative;
    font-size: 4rem;
    color: white;
    top: 20rem;

   
 
}

.work-txt {
    top: 8rem;
    position: absolute;
    margin-left: 6rem;
    

}

.personal-txt {
    position: absolute;
    top: 35rem;
    margin-left: 2rem;
}


.close-toggle {
    display: flex; 
    justify-content: center;
}

.close-lines {
    width: 12vw;
    height: 5px;
    background: var(--secondary-color);
    position: absolute;
    bottom: 8rem;
    
}  

.line1 {
    transform: rotate(145deg);
}
.line2 {
    transform: rotate(35deg);
}